
body {
color: Black;
}

@font-face {
    font-family: 'aquilinetworegular';
    src: url('./AquilineTwo-webfont.eot');
    src: url('./AquilineTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('./AquilineTwo-webfont.woff2') format('woff2'),
         url('./AquilineTwo-webfont.woff') format('woff'),
         url('./AquilineTwo-webfont.ttf') format('truetype'),
         url('./AquilineTwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.bjork {



float: left;
margin-top: 100px;
}

.hands {


width: 570px;
height: 570px;
float: right;
margin-top: 170px;
Margin-right: 30px;
}


.contents {


font-family: 'Garamond';
font-size: 15px;


}

.paralysis {


font-family: 'Garamond';
font-size: 15px;
Margin-left: 30px;


}

.textbox {

width: 600px;


}
