
body {

top: 0;
left: 0;
background-color: white;
background-image: url('fr_1.png');
background-size: cover;
font-family: "Inconsolata", serif;
font-size: 21px;


}

a.coverpage {

text-decoration: none;
color: red;
}

a.coverpage:visited {
color: red;
text-decoration: none;
}

a.coverpage:hover {

color: cyan;
}

.coverpage {
left: 35%;
top: 71%;
position: fixed;

}

.pad {
padding-top: 5%;
padding-right: 1%;
padding-left: 26%;
position: fixed;
z-index: 1;
}

.red {

background: white;
color: red;
}
.black {

background: white;
color: black;
}

.pad2 {
padding-top: 5%;
padding-right: 1%;
padding-left: 26%;
position: fixed;
z-index: 0;
}

.button {

z-index: 6;
position: fixed;
top: 65%;
left: 82%;
color: blue;


}

#clock {
position: fixed;
background: white;
color: red;
padding-left: 2%;
}
