
body {

background-color: #171717;
font-family: 'crystopia';
color: #171717;
font-size: 25px;
padding-left: 40%;
padding-top: 9%;
cursor: help;
}

@font-face {

font-family: "crystopia";
src: url("./crystopia.TTF") format("truetype");

}


a {



}

.lineone {
border: 2px dotted #171717;
border-radius: 10px;
padding: 2px;
box-shadow: 2px 2px 5px fuchsia;
text-shadow: 1px 1px 3px fuchsia;
width: 240px;

}


.linetwo {
border: 1px dotted #171717;
border-radius: 10px;
padding: 2px;
box-shadow: 2px 2px 5px lime;
text-shadow: 1px 1px 3px lime;
color: #171717;
width: 240px;
height: 365px;
overflow: scroll;
}

.lineone:hover {
color: fuchsia;
border: 2px dotted fuchsia;
box-shadow: 2px 2px 5px fuchsia;
border-radius: 10px;
padding: 2px;

}

.linetwo:hover {
border: 1px dotted lime;
border-radius: 10px;
padding: 2px;
box-shadow: 2px 2px 5px lime;
color: lime;
width: 240px;
height: 365px;
overflow: scroll;

}

.blink {

animation-name: blink;
animation-duration: 1s;
animation-iteration-count: infinite;

}


@keyframes blink {

from {color: indigo;}
to {color: #171717;}


}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/others/oth-9/oth864.ani), url(https://ani.cursors-4u.net/others/oth-9/oth864.png), auto !important;} /* End https://www.cursors-4u.com */
