/*


mamasima beige: #d3b998
mamasima brown: #913200;
mamasima mahogany: #5b1500;
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
cursor: pointer;
height: 100%;
}

body {
color: yellow;
-webkit-text-stroke: 1px black;
background-color: blue;
border-top: 1px dashed yellow;
border-bottom: 1px dashed yellow;
font-size: 22px;
font-family: arial narrow, sans-serif;
letter-spacing: 3px;

}


.txt {

display: none;
}

.yellowlogo {
transform: scale(5%);
position: fixed;
left: 3%;
display: none;
}


.carving {
position: fixed;
bottom: -1%;
right: 11%;
display: none;
}

.carving:hover {
z-index: -1;

}

.head {
position: fixed;
left: 0%;
bottom: 8%;
transform: scaleX(-1);
display: none;
}


.courtesan {
position: fixed;
left: 43%;
bottom: 1%;
transform: scaleX(-1);
filter: sepia(100%);
display: none;
}


.mobile {
display: block;
position: fixed;
top: 1.5%;
right: 0%;
color: yellow;
-webkit-text-stroke: 1px black;
background-color: #001de0;
font-family: arial narrow, sans-serif;
letter-spacing: 3px;
font-size: 22px;
font-weight: bold;
border-top: 1px dashed yellow;
border-bottom: 1px dashed yellow;
padding: 1.5%;
}
