/*


mamsima beige: #d3b998


*/

body {

text-align: right;
top: 0;
left: 0;
background-color: white;
font-size: 20px;
font-family: serif;
}

@font-face {
  font-family: AntonRegular; /* set name */
  src: url('./Anton/Anton-Regular.ttf'); /* url of the font */
}

.title {
font-family: "AntonRegular";
font-size: 87px;
}

a {

color: black;
text-decoration: none;

}

span:hover {
cursor: pointer;


}

.logo {


position: fixed;
top 50%;
left: 50%;



}

.drawing {
position: fixed;
left: 10%;
bottom: 10%;
border: 1.5px dotted lime;

}


.drawing:hover {
border: 1.5px dotted blue;


}
