/*


mamsima beige: #d3b998

background-image: url('./flatfile.jpeg');
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
text-shadow: 0px 0px 1px white;
text-align: left;
top: 0;
left: 0;
background-color: gray;
font-size: 20px;
font-family: arial narrow, sans-serif;

background-size: 60%;
color: white;
}

@font-face {
  font-family: AntonRegular; /* set name */
  src: url('./Anton/Anton-Regular.ttf'); /* url of the font */
}


div:hover {

transform: rotate(-5deg);

}

img:hover {

transform: rotate(5deg);

}

.periodical {
position: fixed;
transform: rotate(-5deg);
text-align: justify;
top: 25%;
right: 39%;
width: 339px;
border: 1px dashed black;
padding: 1%;
border-radius: 20px;
color: black;
background-color: lawngreen;
}


.issue {
position: fixed;
left: 18%;
bottom: 17%;
width: 200px;
border: 2px solid black;
padding: 1%;
background-color: cyan;
color: black;

}



.issueimage {
position: fixed;
top: 49%;
left: 51%;
box-shadow: 0px 0px 10px deeppink;
}


.mar {
width: 100%;
text-align: center;
position: fixed;
bottom: 1.5%;
right: 0%;
color: yellow;
-webkit-text-stroke: 1px black;
background-color: #001de0;
font-family: arial narrow, sans-serif;
letter-spacing: 3px;
font-size: 16px;
font-weight: bold;
border-top: 1px dashed yellow;
border-bottom: 1px dashed yellow;

}


.mp {
position: fixed;
text-align: justify;
right: 4%;
bottom: 11%;
width: 200px;
border: 4px ridge #fc5b05;
padding: 1%;
font-size: 13px;
font-family: serif;
color: #fc5b05;
text-shadow: none;
background-color: rgba(248, 252, 141, 0.9);
}

.mp:hover {

transform: rotate(0deg);
background-color: lemonchiffon;

}



.logo {

position: fixed;
left: 5%;
bottom: 5%;

}


.pens {
position: fixed;
right: 19%;
top: 33%;
}



.digisum {

color: black;
width: 88px;
position: fixed;
top: 17%;
right: 11%;
font-family: arial narrow, sans-serif;
background-color: yellow;
text-shadow: 0px 0px 3px white;
font-size: 13px;
border-radius: 10px;
padding: 5px;
line-height: 110%;
font-size: 16px;
box-shadow: 2px 2px 4px gray;
}


.title {

position: fixed;
transform: rotate(5deg);

}

@keyframes color {

0% {color: fuchsia;}
20% {color: blue;}
40% {color: green;}
80% {color: orange;}
100% {color: red;}


}


.mag {

color: black;
animation-name: color;
animation-duration: 5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
position: fixed;
left: 51%;
top: 5%;
font-size: 85px;
}



.flo {

position: fixed;
left: 60%;
top: 25%;
color: deeppink;
}



.bookmarks {

position: fixed;
bottom: 44%;
left: 5%;
}



.stock {

cursor: pointer;

}


.stock:hover {

transform: rotate(0deg);

}

.mobile {
display: none;
position: fixed;
top: 1.5%;
right: 0%;
color: yellow;
-webkit-text-stroke: 1px black;
background-color: #001de0;
font-family: arial narrow, sans-serif;
letter-spacing: 3px;
font-size: 16px;
font-weight: bold;
border-top: 1px dashed yellow;
border-bottom: 1px dashed yellow;

}


.bulletin {
background-color: black;
-webkit-text-stroke: 1px white;
color: black;
width: 300px;
position: fixed;
bottom: 10%;
left: 48%;
border: 2px dashed antiquewhite;
padding: 2%;

}


.bulletin:hover {
-webkit-text-stroke: 3px white;


}
