

body {

text-align: justify;
top: 0;
left: 0;
background-color: gainsboro;
background-image: none;
font-size: 20px;
font-family: monospace;
}

@font-face {
  font-family: AntonRegular; /* set name */
  src: url('./Anton/Anton-Regular.ttf'); /* url of the font */
}

.title {
font-family: "AntonRegular";
font-size: 87px;
}

a {

color: black;
text-decoration: none;

}

span:hover {
cursor: pointer;


}

.write {
color: black; 
font-size: 50px; 
font-family: monospace;
text-shadow: 0px 0px 3px deeppink;
font-size: 20px;
}


.logo {


display: none;


}

