/*


mamasima beige: #d3b998
mamasima brown: #913200;
mamasima mahogany: #5b1500;
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
cursor: pointer;
height: 100%;
}

body {
color: yellow;
-webkit-text-stroke: 1px black;
background-color: #774317;
border-top: 1px dashed yellow;
border-bottom: 1px dashed yellow;
font-size: 22px;
font-family: arial narrow, sans-serif;
letter-spacing: 3px;
}


.yellowlogo {
transform: scale(5%);
position: fixed;
left: 3%;

}


.carving {
position: fixed;
bottom: -1%;
left: 43%;
}

.carving:hover {
z-index: -1;

}

.head {
position: fixed;
left: 0%;
bottom: 0%;
transform: scaleX(-1);

}


.courtesan {
position: fixed;
right: 11%;
bottom: 0%;
transform: scaleX(-1);
filter: sepia(100%);
}

.mobile {
display: none;
position: fixed;
top: 1.5%;
right: 0%;
color: yellow;
-webkit-text-stroke: 1px black;
background-color: #001de0;
font-family: arial narrow, sans-serif;
letter-spacing: 3px;
font-size: 22px;
font-weight: bold;
border-top: 1px dashed yellow;
border-bottom: 1px dashed yellow;

}
