

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
background-image: url('./sitestudio_bg_blank.png');
background-size: cover;
height: 100%;
background-color: #1e2d14;
font-family: Rounded;
color: white;
font-size: 22px;
width: 700px;
cursor: pointer;
}

body.landing {
background-image: url('./sitestudio_bg.jpeg');
background-size: cover;
padding: 1%;
width: 100%;
color: beige;
font-weight: bold;
font-size: 55px;
margin-left: 0;
text-align: left;
cursor: auto;
}

.landing_title {
position: absolute;
top: 0%;

}

.enterbutton {

background-color: transparent; 
color: beige; 
font-family: Rounded; 
padding: 5px; 
font-size: 40px; 
border-color: beige;

}


@font-face {
  font-family: Rounded; /* set name */
  src: url('./Arial-Rounded/arial-rounded-mt-regular.ttf'); /* url of the font */
}

a {

text-decoration: none;
}


u {
text-decoration-style: dashed;

}

ul {

list-style-type: none;

}

li {

padding-bottom: 3px;
}

mark {

background-color: black;
color: yellow;

}

.faq {

font-size: 18px;
color: beige;

}


.answer {
color: fuchsia;
font-size: 16.5px;
}


.costbreakdown {

width: 25%;
height: 100%;
border-left: 0.5px solid beige;
position: absolute;
left: 75%;
top: 0%;
background-color: black;
color: beige;
padding-top: 0.5%;

}


.package {
width: 80%;
height: 20%;
background-color: silver;
position: relative;
left: 10%;
color: blue;
padding: 3%;
font-family: sans-serif;
font-weight: lighter;
border: 4px ridge gainsboro;
font-size: 16px;
border-radius: 2px;

}


.price {


font-weight: normal;
}


.candle {
position: absolute;
filter: grayscale(0%);
right: 29%;
bottom: 3%;
}


.mamasima {
position: fixed;
right: 6%;
bottom: 11%;
width: 350px;
height: 200px;
color: beige;
border: 1px solid beige;
text-shadow: none;
box-shadow: 0px 0px 22px beige inset;
border-radius: 50%;
padding: 4%;
font-size: 17px;
font-weight: normal;
text-align: justify;
transform: rotate(-6.5deg);
}


.books {
width: 100%;
position: absolute;
top: 11%;
right: 0%;
font-size: 26px;
font-weight: normal;
}
