/* 
Static green: #1e2d14;


*/



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {

background-image: none;
padding: 1%;
height: 100%;
background-color: beige;
font-family: Rounded;
color: #1e2d14;
width: 90%;
font-size: 22px;
cursor: pointer;
}

body.landing {
background-color: beige;
background-image: none;
background-size: contain;
text-align: left;
width: 100%;
margin-top: 20.5%;
font-weight: normal;
font-size: 55px;
margin-left: 0;
}

body.samplelist {
background-image: none;
background-color: #1e2d14;
color: beige;
}

.landing_title {
padding: 3%;
position: absolute;
top: 11%;
font-size: 55px;
color: transparent;
-webkit-text-stroke: 1px #1e2d14;

font-family: Rounded;
font-weight: bold;
}


.landing_subtitle {
padding: 3%;
font-size: 30px;
color: #1e2d14;
font-family: Rounded;
}

.enterbutton {
position: absolute;
left: 3%;
background-color: transparent; 
color: #1e2d14;
padding: 4px;
font-size: 33px; 
border: 2px solid #1e2d14;
}


@font-face {
  font-family: Rounded; /* set name */
  src: url('./Arial-Rounded/arial-rounded-mt-regular.ttf'); /* url of the font */
}

a {
color: #1e2d14;
background-color: beige;
text-decoration: none;
}

.ss_title {

font-weight: normal;
font-size: 33px;
}

u {
text-decoration-style: dashed;

}

ul {

list-style-type: none;

}

li {

padding-bottom: 3px;
}

mark {

background-color: black;
color: yellow;

}

.faq {
font-weight: bold;
font-size: 21px;
color: #1e2d14;
font-family: monospace;
}


.answer {
font-weight: normal;
color: #1e2d14;
font-size: 16.5px;
font-family: Rounded;
}


.costbreakdown {
border: none;
width: 100%;
height: 100%;
position: relative;
left: 0%;
top: 0%;
background-color: transparent;
color: white;
padding-top: 0.5%;
color: transparent;
}


.package {
width: 80%;
height: 200px;
background-color: transparent;
position: relative;
left: 10%;
color: #1e2d14;
padding: 3%;
font-family: sans-serif;
font-weight: lighter;
border: 5px double fuchsia;
font-size: 16px;
border-radius: 13px;

}


.price {


font-weight: normal;
}


.candle {
display: none;
position: absolute;
filter: grayscale(0%);
right: 29%;
bottom: 3%;
}


.mamasima {
display: none;
}

.books {

display: none;

}

.morebody {

display: none;

}

@keyframes bounce {
  0%, 100% {
    top: 0vh;
    animation-timing-function: ease-in;
  }

  50% {
    top: 70vh;
    animation-timing-function: ease-out;
  }
}



.first_oval {
height: 150px;
width: 150px;
display: block;
position: absolute;
bottom: 5%;
right: 15%;
background-color: transparent;
box-shadow: inset 0px 0px 25px #1e2d14;
color: #1e2d14;
border-radius: 50%;
z-index: -1;
animation: bounce 2.5s infinite;
}

/*
.second_oval {
height: 150px;
width: 150px;
display: block;
position: absolute;
top: 5%;
left: 22%;
background-color: transparent;
box-shadow: inset 0px 0px 25px fuchsia;
color: #1e2d14;
border-radius: 50%;
z-index: -1;
animation: bounce 4s infinite;
}

*/

.third_oval {
height: 150px;
width: 150px;
display: block;
position: absolute;
top: 29%;
left: 50%;
background-color: transparent;
box-shadow: inset 0px 0px 25px #1e2d14;
color: #1e2d14;
border-radius: 50%;
z-index: -1;
animation: bounce 3.5s infinite;
}


