

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
background-image: url('./sitestudio_bg_2.png');
background-size: cover;
height: 100%;
background-color: #1e2d14;
font-family: Rounded;
color: white;
font-size: 22px;
width: 700px;
cursor: pointer;
}

body.landing {
background-image: url('./sitestudio_bg.png');
background-size: cover;
text-align: center;
width: 100%;
color: fuchsia;
margin-top: 20.5%;
font-weight: bold;
font-size: 55px;
margin-left: 0;
}


@font-face {
  font-family: Rounded; /* set name */
  src: url('./Arial-Rounded/arial-rounded-mt-regular.ttf'); /* url of the font */
}

a {

text-decoration: none;
}


u {
text-decoration-style: dashed;

}

ul {

list-style-type: none;

}

li {

padding-bottom: 3px;
}

mark {

background-color: black;
color: yellow;

}

.faq {

font-size: 18px;
color: beige;

}


.answer {
color: fuchsia;
font-size: 16.5px;
}


.costbreakdown {

width: 25%;
height: 100%;
border-left: 0.5px solid beige;
position: absolute;
left: 75%;
top: 0%;
background-color: black;
color: beige;
padding-top: 0.5%;

}


.package {
width: 80%;
height: 20%;
background-color: silver;
position: relative;
left: 10%;
color: blue;
padding: 3%;
font-family: sans-serif;
font-weight: lighter;
border: 4px ridge gainsboro;
font-size: 16px;
border-radius: 2px;

}


.price {


font-weight: normal;
}


.candle {
position: absolute;
filter: grayscale(0%);
right: 29%;
bottom: 3%;
}


.marquee_landing {
position: absolute;
top: 5%;
opacity: 50%;


}
