/* 
Static green: #1e2d14;


*/



* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
background-image: linear-gradient(to bottom, beige, #1e2d14);
border-left: 1px dotted beige;
padding: 1%;
height: 100%;
background-color: beige;
font-family: Rounded;
color: #1e2d14;
width: 90%;
font-size: 22px;
cursor: pointer;
}

body.landing {
background-color: beige;
background-image: none;
background-size: contain;
text-align: left;
width: 100%;
margin-top: 20.5%;
font-weight: bold;
font-size: 55px;
margin-left: 0;
}

.landing_title {
padding: 3%;
position: absolute;
top: 11%;
font-size: 55px;
color: transparent;
-webkit-text-stroke: 1px #1e2d14;
text-shadow: 0px 0px 4px #1e2d14;
font-family: Rounded;
}


.landing_subtitle {
padding: 3%;
font-size: 22px;
color: #1e2d14;
font-family: Rounded;
}

.enterbutton {
position: absolute;
left: 3%;
background-color: transparent; 
color: #1e2d14;
padding: 4px;
font-size: 33px; 
border: 2px solid #1e2d14;
}


@font-face {
  font-family: Rounded; /* set name */
  src: url('./Arial-Rounded/arial-rounded-mt-regular.ttf'); /* url of the font */
}

a {
color: white;
text-decoration: none;
}

.ss_title {

font-size: 26px;
}

u {
text-decoration-style: dashed;

}

ul {

list-style-type: none;

}

li {

padding-bottom: 3px;
}

mark {

background-color: black;
color: yellow;

}

.faq {

font-size: 18px;
color: #1e2d14;

}


.answer {

color: #1e2d14;
font-size: 16.5px;
}


.costbreakdown {
border: none;
width: 100%;
height: 100%;
position: relative;
left: 0%;
top: 0%;
background-color: transparent;
color: white;
padding-top: 0.5%;
color: transparent;
}


.package {
width: 80%;
height: 200px;
background-color: honeydew;
position: relative;
left: 10%;
color: #1e2d14;
padding: 3%;
font-family: sans-serif;
font-weight: lighter;
border: 4px ridge honeydew;
font-size: 16px;
border-radius: 2px;

}


.price {


font-weight: normal;
}


.candle {
display: none;
position: absolute;
filter: grayscale(0%);
right: 29%;
bottom: 3%;
}


.mamasima {
display: none;
}

.books {

display: none;

}

.morebody {

display: none;

}

