

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
background-image: url('./sitestudio_bg_blank.png');
background-size: cover;
height: 100%;
background-color: floralwhite;
font-family: Rounded;
color: fuchsia;
font-size: 22px;
width: 700px;
cursor: pointer;
}

body.landing {
background-image: none;
background-color: #1e2d14;
background-size: cover;
padding: 1%;
width: 100%;
color: yellow;
font-weight: bold;
font-size: 55px;
margin-left: 0;
text-align: left;
cursor: url('./beige_circle.png') 50 50, auto !important;
overflow-y: hidden;
}

.landing_title {
position: absolute;
top: 0%;

}

.enterbutton {

background-color: transparent; 
color: yellow; 
font-family: Rounded; 
padding: 5px; 
font-size: 40px; 
border-color: yellow;
cursor: url('./beige_circle.png') 50 50, auto !important;
}


@font-face {
  font-family: Rounded; /* set name */
  src: url('./Arial-Rounded/arial-rounded-mt-regular.ttf'); /* url of the font */
}

a {
color: fuchsia;
text-decoration: none;
}


u {
text-decoration-style: dashed;

}

ul {

list-style-type: none;

}

li {

padding-bottom: 3px;
}

mark {

background-color: black;
color: yellow;

}

.ss_title {

font-size: 20px;
}

.faq {

font-size: 18px;
color: beige;

}


.answer {
color: fuchsia;
font-size: 16.5px;
}


.costbreakdown {

width: 25%;
height: 100%;
border-left: 0.5px dashed beige;
position: absolute;
left: 75%;
top: 0%;
background-color: black;
color: beige;
padding-top: 0.5%;
font-size: 20px;
}


.package {
width: 80%;
height: 20%;
background-color: silver;
position: relative;
left: 10%;
color: blue;
padding: 3%;
font-family: sans-serif;
font-weight: lighter;
border: 4px ridge gainsboro;
font-size: 16px;
border-radius: 2px;
overflow: scroll;
}


.price {


font-weight: normal;
}


.candle {
position: absolute;
filter: grayscale(0%);
right: 29%;
bottom: 3%;
}


.mamasima {
position: fixed;
right: 6%;
bottom: 11%;
width: 350px;
height: 200px;
color: yellow;
border: 1px solid yellow;
text-shadow: none;
box-shadow: 0px 0px 22px yellow inset;
border-radius: 50%;
padding: 4%;
font-size: 17px;
font-weight: normal;
text-align: justify;
transform: rotate(-6.5deg);
}


.books {
width: 100%;
position: absolute;
top: 11%;
right: 0%;
font-size: 26px;
font-weight: normal;
}


.morebody {
height: 200px;
width: 100%;
position fixed;
bottom: 0%;
color: #1e2d14;

}


.first_oval {
height: 75px;
width: 75px;
display: block;
position: absolute;
bottom: 5%;
right: 15%;
background-color: yellow;
color: #1e2d14;
border-radius: 50%;
z-index: -1;
animation: bounce 2.5s infinite;
}

.second_oval {
height: 75px;
width: 75px;
display: block;
position: absolute;
top: 29%;
left: 50%;
background-color: yellow;
color: #1e2d14;
border-radius: 50%;
z-index: -1;
animation: bounce 3.5s infinite;
}

