
body {
Background-color: rebeccapurple;
color: red;
Font-size: 18px;
Text-align: right;
}





a {
color: red;
text-decoration: none;


}

a:visited {
color: red;
}
















/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/symbols/sym-9/sym827.ani), url(https://ani.cursors-4u.net/symbols/sym-9/sym827.png), auto !important;} /* End https://www.cursors-4u.com */
