* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;


}


body {
margin: 0;
padding: 10px;
height: 100%;
background-color: white;
color: dimgray;
font-family: serif;
letter-spacing: 1px;
font-style: normal;
overflow-y: scroll;

}

u {
text-decoration-style: dotted;

}



nav {
position: fixed;
top: 2%;
right: 1%;

}

nav a {
color: dimgray;
font-size: 22px;
padding-top: 6px;
padding-left: 6px;
padding-right: 6px;
padding-bottom: 4px;
width: 200px;
text-align: center;
border: 0.5px solid dimgray;
background-color: lightyellow;
border-radius: 5px;
font-family: courier new;
font-weight: lighter;
text-decoration: none;
}

nav a:hover {
background-color: aliceblue;


}

nav a:visited {

color: dimgray;

}


/*


IMPORTANT NOTE: 
When the page becomes scrollable, remove 'bottom: 0' from the footer class.


*/

footer {
position: absolute;
left: 0;
bottom: 0;
text-align: center;
background-color: firebrick;
color: white;
width: 100%;
height: 5vh;
padding: 0.7%;
font-size: 16px;
font-family: snell roundhand;
letter-spacing: 0px;
z-index: 0;
}

footer.about {
bottom: 0;


}


.title-drawing {

position: absolute;
width: 111px;
height: 16px;
top: 5%;
left: 33%;
opacity: 70%;
transform: rotate(4deg);
}

.dotted-line {
position: fixed;
top: 0%;
left: 0%;
display: block;
z-index: -1;
width: 300px;
height: 100px;
}

.big-dotted-line {
position: fixed;
top: 9%;
right: 0%;
display: block;
z-index: -1;
width: 1000px;
height: 705px;
}

.carving1 {
position: fixed;
height: 222px;
width: 44px;
left: 0%;
bottom: 0%;
z-index: 1;
}

.carving2 {
position: fixed;
height: 222px;
width: 44px;
right: 0%;
bottom: 0%;
z-index: 1;
}

.subtitle {
color: violet;
position: absolute;
font-family: sans-serif;
font-weight: lighter;
top: 2%;
width: 200px;
height: 150px;
font-size: 16px;
padding-top: 3px;
}

.subtitle:hover {
text-shadow: 8px 8px pink;
}



.interviews {
width: 90%;
margin: 133px auto;
overflow-y: scroll;

}


.interview {
height: 350px;
width: 250px;
border: 0.5px solid dimgray;
float: left;
margin: 22px;
border-radius: 15px;
box-shadow: 2px 2px pink;
}

.interview:hover {
filter: grayscale(100%);
box-shadow: 2px 2px lime;
}

.littlestar {
display: inline;
height: 16px;
width: 16px;
opacity: 40%;

}

.thumbnail {

width: 100%;
height: 300px;
background-size: cover;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;

}

.interview_title {
position: static;
width: 100%;
height: 50px;
font-style: normal;
font-family: courier new;
border-bottom: 0.5px solid dimgray;
background-color: honeydew;
padding: 3%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
color: cadetblue;
letter-spacing: 0px;
}


/*

ABOUT PAGE
ABOUT PAGE

*/

.about-box {
position: absolute;
width: 50vw;
height: 50vh;
bottom: 20%;
left: 26vw;
border: 1px solid black;
background-color: aliceblue;
padding: 3%;

}

.about-header {
position: absolute;
bottom: 61%;
left: 3%;
font-size: 111px;
color: gainsboro;
-webkit-text-stroke: 1px black;

}

.about-footer {
background-color: fuchsia;

}

/*

colors: 
oldlace #FDF5E6 navy (hover pink or gainsboro)
darkseagreen navy (hover gainsboro)
*/