* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;


}


body {
height: 100%;
width: 100%;
background-color: white;
color: dimgray;
font-family: serif;
letter-spacing: 1px;
font-style: normal;
overflow-y: scroll;

}

mark {
background-color: aqua;

}

footer {
position: absolute;
left: 0;
text-align: center;
background-color: chartreuse;
color: black;
width: 100%;
height: 5vh;
padding: 0.7%;
font-size: 16px;
font-family: snell roundhand;
letter-spacing: 0px;
z-index: 0;
}

.nav {
position: fixed;
top: 2%;
right: 1%;

}

.nav a {
color: dimgray;
font-size: 22px;
padding-top: 6px;
padding-left: 6px;
padding-right: 6px;
padding-bottom: 4px;
width: 200px;
text-align: center;
border: 0.5px solid dimgray;
background-color: lightyellow;
border-radius: 5px;
font-family: courier new;
font-weight: lighter;
text-decoration: none;
}

nav a:hover {
background-color: peachpuff;


}


/*

INTERVIEWS
INTERVIEWS

*/


.subtitle {
color: violet;
position: absolute;
font-family: sans-serif;
font-weight: lighter;
top: 2%;
width: 200px;
height: 150px;
font-size: 16px;
padding-top: 3px;
}

.subtitle:hover {
text-shadow: 8px 8px dimgray;
}

.dotted-line {
position: absolute;
top: 0%;
display: block;
z-index: -1;
width: 1000px;
height: 705px;

}

.hero-image {
position: absolute;
display: block;
left: 30%;
top: 0%;
height: 222px;
width: 167px;
z-index: -1;
}



.interview-header {
margin-top: 250px;
font-size: 111px;
color: gainsboro;
-webkit-text-stroke: 1px black;
}

.interview-text {
font-family: sans-serif;
font-weight: lighter;
padding: 3%;
color: black;
font-size: 22px;
letter-spacing: 0px;
line-height: 23px;
}




/*

colors: 
oldlace #FDF5E6 navy (hover pink or gainsboro)
darkseagreen navy (hover gainsboro)
*/