* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {

top: 0;
left: 0;
font-size: 20px;
font-family: serif;
text-align: left;
padding: 1%;
background-color: black;
}


.card1 {
position: absolute;
left: 3%;
top: 15%;
transform: rotate(-5deg);
border-radius: 15px;
border: 1.25px dashed ghostwhite;
filter: saturate(111%);
}


.card1:hover {
filter: grayscale(100%);


}

.card2 {
position: absolute;
left: 20%;
top: 15%;
transform: rotate(5deg);
border-radius: 15px;
border: 1.25px dashed white;
filter: saturate(111%);
}


.card2:hover {
filter: grayscale(100%);


}

.title {
-webkit-text-stroke: 1px ghostwhite;
color: lawngreen;
letter-spacing: 2px;
-webkit-text-stroke: 1px ghostwhite;
overflow: scroll;
}


.me {
-webkit-text-stroke: 1px ghostwhite;
letter-spacing: 2px;
max-width: 570px;
overflow: scroll;
position: fixed;
bottom: 40%;
transform: rotate(2deg);
color: blue;
}

.whitebox {

background-color: firebrick;
width: 670px;
height: 53%;
position: fixed;
right: 0%;
bottom: 0%;
top: 47%;
-webkit-text-stroke: none;
color: black;
padding: 1.5%;
font-size: 15px;
font-style: italic;
border-top: 1px dashed cyan;
border-left: 1px solid pink;
border-right: 1px dashed chartreuse;
border-bottom: 1px solid yellow;
overflow: scroll;

}



.logo {

position: fixed;
left: 3%;
bottom: 3%;
}


.inquiries {

width: 200px;
height: 200px;
background-color: #c8ed44;
color: black;
font-family: cursive;
color: blue;
font-size: 14px;
padding: 0.5%;
position: fixed;
bottom: 5%;
transform: rotate(-5deg);
left: 20%;
bottom: 10%;
background-image: url('./SB036.JPG');
}


.hover {

cursor: pointer;

}

.arrow {

filter: invert(100%);
position: fixed;
right: 5%;

}

