* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
cursor: grab;
height: 100%;
}

body {

top: 0;
left: 0;
font-size: 20px;
font-family: serif;
text-align: left;
padding: 1%;
background-color: black;

}


.card1 {
position: absolute;
left: 3%;
top: 15%;
transform: rotate(-5deg);
border-radius: 15px;
border: 1.25px dashed ghostwhite;
filter: saturate(111%);
}


.card1:hover {
filter: hue-rotate(180deg);
border: 1.25px dashed red;

}

.card2 {
position: absolute;
left: 20%;
top: 15%;
transform: rotate(5deg);
border-radius: 15px;
border: 1.25px dashed white;
filter: saturate(111%);
}


.card2:hover {
filter: hue-rotate(180deg);
border: 1.25px dashed red;

}

.title {
-webkit-text-stroke: 1px ghostwhite;
color: cornflowerblue;
letter-spacing: 2px;
-webkit-text-stroke: 1px ghostwhite;
overflow: scroll;
font-size: 33px;
}


.produces {
-webkit-text-stroke: 1px ghostwhite;
color: goldenrod;
letter-spacing: 2px;
-webkit-text-stroke: 1px ghostwhite;
overflow: scroll;
font-size: 34px;
position: fixed;
right: 0%;
top: 28%;
transform: rotate(-2deg);
}


.me {
-webkit-text-stroke: 1px ghostwhite;
letter-spacing: 2px;
max-width: 570px;
overflow: scroll;
position: fixed;
bottom: 40%;
transform: rotate(2deg);
color: cornflowerblue;
font-size: 26px;
}

.whitebox {

background-color: olive;
width: 670px;
height: 60%;
position: fixed;
right: 0%;
bottom: 0%;
top: 40%;
-webkit-text-stroke: none;
color: gainsboro;
padding: 1.5%;
font-size: 15px;
font-style: italic;
border: 4px olive ridge;
overflow: scroll;

}



.logo {

position: fixed;
left: 3%;
bottom: 3%;
}


.inquiries {

width: 200px;
height: 200px;
background-color: #c8ed44;
color: black;
font-family: cursive;
color: blue;
font-size: 14px;
padding: 0.5%;
position: fixed;
bottom: 5%;
transform: rotate(-5deg);
left: 20%;
bottom: 10%;
background-image: url('./SB036.JPG');
}


.hover {

cursor: pointer;

}

.arrow {

filter: invert(100%);
position: fixed;
right: 5%;
top: 1%;
}


.smile {

position: fixed;
top: 10%;
right: 30%;
-webkit-text-stroke: 1px blue;
color: brown;
letter-spacing: 2px;
font-size: 66px;
}
