

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
height: 100%;
width: 100%;
background-image: url("./fieldcopy.gif");
background-size: cover;
}

body {
margin: 0;
height: 100%;
width: 100%;
color: rgba(176, 196, 27, 0);
-webkit-text-stroke: 1px rgba(176, 196, 27, 0.44);
font-family: sans-serif;
font-weight: lighter;

font-size: 111px;
 -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

a {

text-decoration: none;
color: transparent;
}

a:visited {

color: transparent;

}


.name {
font-weight: lighter;
color: transparent;
-webkit-text-stroke: 1px lightcyan;
text-shadow: 55px 55px 5px rgba(173, 216, 230, 0.3);
position: fixed;
right: 9%;
font-family: sans-serif;
}


.contents {

padding-left: 2%;
padding-top: 1%;


}

a.about:hover {

color: #cce0f9;

}

a.work:hover {

color: rgba(176, 196, 27, 1);

}

.graph1 {

transform: scale(25%);
position: fixed;
top: -30%;
left: 10%;
opacity: 20%;
}

.graph2 {

transform: scale(25%);
position: fixed;
top: -30%;
left: -10%;
opacity: 20%;
}


.graphabout1 {

position: fixed;
top: 5%;
right: 5%;
opacity: 20%;

}


.graphabout2 {

position: fixed;
top: 5%;
left: 5%;
opacity: 20%;


}


.aboutayo {
position: fixed;
text-align: justify;
width: 30%;
left: 30%;
top: 40%;
font-size: 22px;
-webkit-text-stroke: lightcyan;
color: white;


}



table {
font-size: 16px;
color: lightcyan;
-webkit-text-stroke: 0px;
width: 100%;
text-align: right;
position: absolute;
bottom: 0%;
}

tr {
border-bottom: 1px solid lightcyan;

th {

font-size: 22px;
font-weight: normal;
}

}

td:hover {

color: white;

}
